[Desktop Entry]
Version=1.0
Name=B&H programmer updater
Comment=(^^)
Exec=/home/fwp/Desktop/BH_Programmer_Script/github-updater.sh
Icon=
Terminal=true
Type=Application
Categories=Utility;Application;
